.categoryBar {
	background-color: #003B53;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.categoryBar .title {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 22px;
	margin-right: 20px;
}
.categoryBar .single {
	margin: 0px 10px;
}
.categoryBar a {
	text-decoration: none;
	color: white;
}
.categoryBar a:hover {
	opacity: 0.6;
}
