.singleProduct {
	border: solid 1px #003B53;
	padding: 20px;
	text-align: center;
}
.singleProduct img {
	width: 100%;
	margin: 20px 0px;
}
.singleProduct .bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.singleProduct button:disabled,
.singleProduct button[disabled] {
	cursor: not-allowed;
	background-color: #cccccc;
	color: #666666;
}
.singleProduct button:disabled:hover,
.singleProduct button[disabled]:hover {
	opacity: 1;
}
